.smex-items
*~$
*.pyc
places
.recentf*
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
url
.python-environments
customizations/setup-private.el
.cask
tramp
transient
elpa
